.form-signin{margin:70px auto 0;}
.form-signin {
  max-width:405px;
}
.header-right{width:64%;}
.header-right {
    width: 54%;
}
.logo {width:200px;}
.common-queue{width:96%;}
.queue-table{width:680px;}
.queue-table-content{height:148px;}


