<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="LinksMediaDBContext" connectionString="data source=CHETUIK1059\SQLEXPRESS;initial catalog=ML11NewProduction; Trusted_Connection=true;" providerName="system.data.sqlclient" />-->
    <!--<add name="LinksMediaDBContext" connectionString="Data Source=DATA-PROD\SQL2008R2;initial catalog=LinksMediaCorp-QA;persist security info=false;user id=LinksMediaCorp-WT;password=G00gl@123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="LinksMediaDBContext" connectionString="Data Source=DATA-PROD\SQL2008R2;initial catalog=LinksMediaCorp-QA;persist security info=false;user id=LinksMediaCorp-WT;password=G00gl@123;" providerName="System.Data.SqlClient" />-->
    <add name="LinksMediaDBContext" connectionString="Data Source=DATA-PROD\SQL2008R2;initial catalog=LinksMediaCorp-WT;persist security info=false;user id=LinksMediaCorp-WT;password=G00gl@123;" providerName="System.Data.SqlClient" />
    <!--<add name="LinksMediaDBContext" connectionString="Data Source=CHETUIWK022\SQL2008R2;Initial Catalog=fitcomdb_06112015;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="LinksMediaDBContext" connectionString="Data Source=CHETUIWK994\SQL2008R2;Initial Catalog=fitcomdb_M2P1_6;Integrated Security=True;user id=sa;password=chetu@123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="LinksMediaDBContext" connectionString="Data Source=CHETUIWK022\SQL2008R2;Initial Catalog=fitcomdb_Updated;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="LinksMediaDBContext" connectionString="Data Source=CHETUIWK022\SQL2008R2;Initial Catalog=LinksMediaCorp;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="LinksMediaDBContext" connectionString="Data Source=198.71.227.2;initial catalog=fitcomdb;persist security info=false;user id=fitcom;password=Fitdb@123;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>